on:
  push:
    branches:
      - master
    tags:
      - v*
    pull_request:

env:
  IMAGE_NAME: get_iplayer-webpvr

jobs:
  test:
    name: Test Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Build image
        run: |
          docker build -t $IMAGE_NAME .
      - name: Test image
        run: |
          docker run --rm --name test -p 1935:1935 -d $IMAGE_NAME
          curl http://localhost:1935
          docker stop test
  push:
    name: Push Docker image
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@master
      - name: Set environment
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          [ "$VERSION" == "master" ] && VERSION=latest
      - name: Build image
        run: |
          docker build -t docker.pkg.github.com/tombotch/get_iplayer-webpvr .
      - name: Log in to registry
        run: |
          docker login -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} docker.pkg.github.com
      - name: Push image to registry
        run: |
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag image $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION